/* css can be included in 3 ways
inline 
internal
external
 */
 .para1{
    margin:0 auto; /* this combines all left right top bottom margins*/ /*this makes the para1 go to the center*/ 
    padding:30px;/*this changes the padding size*/
    font-size:16px; /*this changes the font size*/
    background-color:black; /* this changes the background color*/
    color:white; /* this changes the font color*/
    width:500px;
    height:500px;
    /* there are 4 parameters for margin(left, right, top, bottom)*/
 }

h1{
    margin-top:20;
}


 /* 
   shorthands in css 
<--------------------->  
top right bottom left (margins)

margins collapse into one another
margins will collapse any time they touch each other
*/

/* 
learn about block elements 
inline elements -> we cannot give height and width with inline elements but padding, margin, border works

styling links
pseudo=class in css => examples -> a:link, b:visitied, a:focus, a:hover, a:active
*/
span{
    font:yellow;
}

a:hover{
    color:red;
    font:green;
    font-size:15px;
}

button{
    background-color:yellow;
    color:black;
    padding:100px; /*increasing padding hides the content so we use inline-block so that we can increase the padding but also not hide the content*/
    margin-right:25px;
    text-decoration:none;
    text-align:center;
    display:inline-block;
}

a{
    text-decoration:none;
}