.div1{
    background-color:#F1F1F1;
    padding:5px;
    margin: 45px 45px; /* */
    text-align:center;
    width:400px;
    display:block;
    margin: 0 auto;
    /* top bottom left left */
    /* id has higher priority than class */
    /* priority levels are classified into 3 portions
    0 0 0 (id class selectors)
    .c1 .c2 .c3{
    here .c3 class property will be chosen
    and the priority value will be 10 + 10 + 10 = 30
    }
    */
}

.u1{
    color:#FF8000;
}

.heading{
    color:#2d7ad3;
    font-size:48px;
    text-align:center;
    margin-top:45px 25px;
}

.heading2{
    color:#104C90;
    font-size:32px;
}

img{
    width:300px;
    height:300px;
    display: block;
    margin: 0 auto; /*centers the bar horizontally*/
    width:100%;
    height:100%;
}

p{
    font-size:16px;
}